/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2013 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
@def selectionBorderWidth 0px;
.dataGridWidget {
}

.dataGridFirstColumn {
	
}

.dataGridLastColumn {
	
}

.dataGridFooter {
	border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
	white-space: nowrap;
}

@sprite .dataGridHeader {
	gwt-image: 'header';
	padding: 3px 15px;
	text-align: left;
	color: #FFFFFF;
	overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
}

.dataGridCell {
	padding: 10px 15px;
	overflow: hidden;
}

.dataGridFirstColumnFooter {
	
}

.dataGridFirstColumnHeader {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.dataGridLastColumnFooter {
	
}

.dataGridLastColumnHeader {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.dataGridSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.dataGridSortableHeader:hover {
	color: #C0C0C0;
}

.dataGridSortedHeaderAscending {
	
}

.dataGridSortedHeaderDescending {
	
}

.dataGridEvenRow {
}

.dataGridEvenRowCell {
	
}

.dataGridOddRow {
	background: #F0F0F0; /* for non-css3 browsers */
}

.dataGridOddRowCell {
}

.dataGridHoveredRow {
	border-top: #999999;
	border-bottom: #999999;
	background: #C0C0C0;
	background: -webkit-gradient(linear, left top, left bottom, from(#D0D0D0), to(#B0B0B0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #D0D0D0,  #B0B0B0); /* for firefox 3.6+ */
	cursor: pointer;
}

.dataGridSelectedRow {	
}

.dataGridHoveredRowCell {
}

.dataGridKeyboardSelectedRow {
}

.dataGridKeyboardSelectedRowCell {
	
}

.dataGridSelectedRowCell {
	
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
	
}