/*===========================================================================*/
/*====                     ZoomToRectangleControl                        ====*/
/*===========================================================================*/

@external gm-ZoomToRectangleControl;
@sprite .gm-ZoomToRectangleControl {
	gwt-image: "zoomToRectangle";
	margin: 0px;
	padding: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #F6F6F6;
	background-position: center center;
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	-moz-box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
  	-webkit-box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
	box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
}
@sprite .gm-ZoomToRectangleControl:hover {
	gwt-image: "zoomToRectangleHover";
	background-color: #FFFFFF;
	background-position: center center;
	width: 22px;
	height: 22px;
}
@if user.agent ie6 ie7 ie8 {
	.gm-ZoomToRectangleControl {
		border: 1px solid #666666;
	}
}