/* Overriding default GWT styles. */

a,a:visited {
	text-decoration: none;
	color: #488abe
}

a:hover {
	text-decoration: underline;
	color: #35668c
}
/*
.gwt-Button {
	text-decoration: none;
	border: 1px solid #aaa;
	color: #222;
	padding: 5px 10px;
	cursor: pointer;
	cursor: hand;
	background: #fff url(images/buttons-bg-white.png) repeat-x 0 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.gwt-Button:active {
	border-color: #488abe;
	background-color: #eee;
	background-image: url(images/buttons-bg.png);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .4), 0 1px 0
		rgba(255, 255, 255, .4);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .4), 0 1px 0
		rgba(255, 255, 255, .4);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .4), 0 1px 0
		rgba(255, 255, 255, .4);
	cursor: pointer;
	cursor: hand;
}

.gwt-Button:hover {
	border-color: #488abe;
	background-color: #eee;
	background-image: url(images/buttons-bg.png);
	cursor: pointer;
	cursor: hand;
}

.gwt-Button[disabled] {
	cursor: default;
	color: #888;
	border: 1px solid #aaa;
}

.gwt-Button[disabled]:hover {
	
}

.gwt-CheckBox {
	
}
*/
/*
.gwt-DialogBox .Caption {
	background: #37393B;
	color: #F0F0F0;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 10px;
	cursor: move;
	margin-top: 8px;
}
*/
.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogTopCenter {
	background: url(images/dialog/panel_middle.png) repeat-x;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 0px;
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	height: 8px;
	background: url(images/dialog/panel_middle.png) repeat-x;
}

.gwt-DialogBox .dialogMiddleLeft {
	width: 8px;
	background: url(images/dialog/panel_middle.png) repeat-y;
}

.gwt-DialogBox .dialogMiddleRight {
	width: 8px;
	background: url(images/dialog/panel_middle.png) repeat-y;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(images/dialog/panel_top_left.png) no-repeat;
}

.gwt-DialogBox .dialogTopRight {
	background: url(images/dialog/panel_top_right.png) no-repeat;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(images/dialog/panel_bottom_left.png) no-repeat;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(images/dialog/panel_bottom_right.png) no-repeat;
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}
