<!--
  ~ This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
  ~
  ~ Copyright 2008-2012 Geosparc nv, http://www.geosparc.com/, Belgium.
  ~
  ~ The program is available in open source according to the GNU Affero
  ~ General Public License. All contributions in this program are covered
  ~ by the Geomajas Contributors License Agreement. For full licensing
  ~ details, see LICENSE.txt in the project root.
  -->

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas GWT face example application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
			<!-- generic Geomajas context -->
			classpath:org/geomajas/spring/geomajasContext.xml
			<!-- local application context -->
			WEB-INF/applicationContext.xml

			<!-- security -->
			WEB-INF/security.xml
			WEB-INF/map*.xml

			<!-- layers and maps included through geomajasExampleContext.xml -->

			WEB-INF/appShowcase.xml
			WEB-INF/layerOpenCycleMap.xml

			<!--
			classpath:org/geomajas/spring/testRecorder.xml
			-->
       </param-value>
    </context-param>

	<filter>
	    <filter-name>CacheFilter</filter-name>
	    <filter-class>org.geomajas.servlet.CacheFilter</filter-class>
		<!-- these are the default settings, mentioned as example -->
		<init-param>
			<param-name>cacheDurationInSeconds</param-name>
			<param-value>31536000</param-value>
			<description>Time that cache stuff should be cached, defaults to 1 year.</description>
		</init-param>
		<init-param>
			<param-name>skipPrefixes</param-name>
			<param-value>/d/</param-value>
			<description>All uris which start with one of these prefixes remain untouched.</description>
		</init-param>
		<init-param>
			<param-name>cacheIdentifiers</param-name>
			<param-value>.cache.</param-value>
			<description>When the uri contains one of these, the cache headers are added.</description>
		</init-param>
		<init-param>
			<param-name>cacheSuffixes</param-name>
			<param-value>.js .png .jpg .jpeg .gif .css .html</param-value>
			<description>When the uri ends in one of these, the cache headers are added.</description>
		</init-param>
		<init-param>
			<param-name>noCacheIdentifiers</param-name>
			<param-value>.nocache.</param-value>
			<description>When the uri contains one of these, the cache headers are removed.</description>
		</init-param>
		<init-param>
			<param-name>noCacheSuffixes</param-name>
			<param-value>.nocache</param-value>
			<description>When the uri end in one of these, the cache headers are removed.</description>
		</init-param>
		<init-param>
			<param-name>zipSuffixes</param-name>
			<param-value>.js .css .html</param-value>
			<description>When the uri ends in one of these, the response is gzip compressed.</description>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.geomajas.servlet.PrepareScanningContextListener</listener-class>
	</listener>

	<listener>
 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
 		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				<!-- generic and plugin context -->
				classpath*:META-INF/geomajasWebContext.xml
				<!-- local context (workaround for SPRINT-39)-->
				WEB-INF/webContext.xml
			</param-value>
			<description>Spring Web-MVC specific (additional) context files.</description>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/GwtShowcase/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>

