/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
 
 
tabSetContainer,
.msRibbon {
    background-color: #f0f0f0;
}

.msRibbonGroup {
	height: 100%;
}

.msRibbonGroup {
    /*border-right: 1px solid #B3B8BE;*/
}

.msRibbonGroupBody,
.msRibbonPanelGroupBody {
	padding: 3px 5px;
}

.msRibbonPanel,
.msRibbonPanelRel {
	border: 1px solid #B3B8BE;
	border-radius: 0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
    -webkit-border-radius: 0px 3px 3px 3px;
}

.msRibbonPanelRelTitle,
.msRibbonPanelGroup {
	background: #F0F2F5;
}

.msRibbonPanelRel,
.msRibbonPanelRelTitle,
.msRibbonPanelRelText,
.msRibbonPanelSubPanelBorders,

.msRibbonGroupTitle,
.msRibbonTabTitle,
.msRibbonTabTitleOver,
.msRibbonTabTitleSelected,
.msRibbonTabTitleSelectedOver,

.msRibbonButtonSmallTitle,
.msRibbonButtonSmallTitleDisabled,
.msRibbonButtonLargeTitle,
.msRibbonButtonLargeTitleDisabled,
.msRibbonButtonDescription,
.msRibbonButtonDescriptionDisabled,

.msRibbonDropDownButtonSmallTitle,
.msRibbonDropDownButtonSmallTitleDisabled,
.msRibbonDropDownButtonLargeTitle,
.msRibbonDropDownButtonLargeTitleDisabled,
.msRibbonDropDownButtonDescription,
.msRibbonDropDownButtonDescriptionDisabled,

.msRibbonPanelGroupTitle,
.msRibbonPanelButtonSmallTitle, 
.msRibbonPanelButtonSmallTitleDisabled, 
.msRibbonPanelButtonLargeTitle,
.msRibbonPanelButtonLargeTitleDisabled,
.msRibbonPanelButtonDescription,
.msRibbonPanelButtonDescriptionDisabled {
/*	word-wrap: break-word;  */
	font-family: Arial,Verdana,sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666D7C;
	padding: 1px 5px;
}

.msRibbonGroupTitle,
.msRibbonPanelGroupTitle,

.msRibbonButtonSmallTitle,
.msRibbonButtonSmallTitleDisabled,

.msRibbonDropDownButtonSmallTitle,
.msRibbonDropDownButtonSmallTitleDisabled,

.msRibbonPanelButtonSmallTitle, 
.msRibbonPanelButtonSmallTitleDisabled {
	white-space: nowrap;
	word-wrap: normal; 
}

.msRibbonPanelRelTitle,
.msRibbonPanelGroupTitle {
	font-weight: bold;
}

.msRibbonButtonLargeTitle,
.msRibbonButtonLargeTitleDisabled,

.msRibbonDropDownButtonLargeTitle,
.msRibbonDropDownButtonLargeTitleDisabled {
	text-align: center;
	margin-top: 7px;
}

.msRibbonButtonLargeTitle,
.msRibbonButtonLargeTitleDisabled {
	margin-top: 7px;
}

.msRibbonButtonSmallTitle,
.msRibbonButtonLargeTitle,

.msRibbonDropDownButtonSmallTitle,
.msRibbonDropDownButtonLargeTitle,

.msRibbonPanelRel,
.msRibbonPanelRelText,
.msRibbonPanelSubPanelBorders,

.msRibbonPanelButtonSmallTitle, 
.msRibbonPanelButtonLargeTitle {
	color: #3B3B3B;
}

.msRibbonButtonSmallTitleDisabled,
.msRibbonButtonLargeTitleDisabled,

.msRibbonDropDownButtonSmallTitleDisabled,
.msRibbonDropDownButtonLargeTitleDisabled,

.msRibbonPanelButtonSmallTitleDisabled, 
.msRibbonPanelButtonLargeTitleDisabled {
	color: #777777;
}

.msRibbonButtonDescription,
.msRibbonButtonDescriptionDisabled,
.msRibbonDropDownButtonDescription,
.msRibbonDropDownButtonDescriptionDisabled,
.msRibbonPanelButtonDescription,
.msRibbonPanelButtonDescriptionDisabled {
	font-size: 10px;
	line-height: 10px;
}

.msRibbonButtonDescriptionDisabled,
.msRibbonDropDownButtonDescriptionDisabled,
.msRibbonPanelButtonDescriptionDisabled {
	color: #999999;
}

/*
 * Button styles by default the same for; 
 * - 'normal' buttons, 
 * - drop-down buttons (the ones in the ribbon),
 * - and the buttons in a drop-down panel
 */

.msRibbonButton,
.msRibbonButtonOver,
.msRibbonButtonFocused,
.msRibbonButtonFocusedOver,
.msRibbonButtonDown,
.msRibbonButtonFocusedDown,
.msRibbonButtonSelected,
.msRibbonButtonSelectedFocused,
.msRibbonButtonSelectedDown,
.msRibbonButtonSelectedFocusedDown,
.msRibbonButtonSelectedOver,
.msRibbonButtonSelectedFocusedOver,
.msRibbonButtonDisabled,
.msRibbonButtonSelectedDisabled,

.msRibbonDropDownButton,
.msRibbonDropDownButtonOver,
.msRibbonDropDownButtonFocused,
.msRibbonDropDownButtonFocusedOver,
.msRibbonDropDownButtonDown,
.msRibbonDropDownButtonFocusedDown,
.msRibbonDropDownButtonSelected,
.msRibbonDropDownButtonSelectedFocused,
.msRibbonDropDownButtonSelectedDown,
.msRibbonDropDownButtonSelectedFocusedDown,
.msRibbonDropDownButtonSelectedOver,
.msRibbonDropDownButtonSelectedFocusedOver,
.msRibbonDropDownButtonDisabled,
.msRibbonDropDownButtonSelectedDisabled,

.msRibbonPanelButton,
.msRibbonPanelButtonOver,
.msRibbonPanelButtonFocused,
.msRibbonPanelButtonFocusedOver,
.msRibbonPanelButtonDown,
.msRibbonPanelButtonFocusedDown,
.msRibbonPanelButtonSelected,
.msRibbonPanelButtonSelectedFocused,
.msRibbonPanelButtonSelectedDown,
.msRibbonPanelButtonSelectedFocusedDown,
.msRibbonPanelButtonDisabled,
.msRibbonPanelButtonSelectedDisabled {
	padding: 2px 1px;
	font-family: Arial,Verdana,Bitstream Vera Sans,sans-serif;
	font-size: 11px;
	color: #3B3B3B;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid transparent;
}

.msRibbonButtonOver,
.msRibbonButtonFocusedOver,
.msRibbonButtonSelectedOver,
.msRibbonButtonSelectedFocusedOver,

.msRibbonDropDownButtonOver,
.msRibbonDropDownButtonFocusedOver,
.msRibbonDropDownButtonSelectedOver,
.msRibbonDropDownButtonSelectedFocusedOver,

.msRibbonPanelButtonOver,
.msRibbonPanelButtonFocusedOver,
.msRibbonPanelButtonSelectedOver,
.msRibbonPanelButtonSelectedFocusedOver {
	/* licht */
	background: #ececec;
}

.msRibbonButtonOver,
.msRibbonButtonFocusedOver,

.msRibbonDropDownButtonOver,
.msRibbonDropDownButtonFocusedOver,

.msRibbonPanelButtonOver,
.msRibbonPanelButtonFocusedOver {
	/* donker */
	border: 1px solid #707070;
}

.msRibbonButtonSelected,
.msRibbonButtonSelectedFocused,
.msRibbonButtonSelectedFocusedOver,
.msRibbonButtonSelectedOver,

.msRibbonDropDownButtonSelected,
.msRibbonDropDownButtonSelectedFocused,
.msRibbonDropDownButtonSelectedFocusedOver,
.msRibbonDropDownButtonSelectedOver,

.msRibbonPanelButtonSelected,
.msRibbonPanelButtonSelectedFocused,
.msRibbonPanelButtonSelectedFocusedOver,
.msRibbonPanelButtonSelectedOver {
	/* midden */
	border: 1px solid #363636;
	background: #b3b8be;
}	

.msRibbonButtonDown,
.msRibbonButtonFocusedDown,
.msRibbonButtonSelectedDown,
.msRibbonButtonSelectedFocusedDown,
.msRibbonDropDownButtonDown,
.msRibbonDropDownButtonFocusedDown,
.msRibbonDropDownButtonSelectedDown,
.msRibbonDropDownButtonSelectedFocusedDown,
.msRibbonPanelButtonDown,
.msRibbonPanelButtonFocusedDown,
.msRibbonPanelButtonSelectedDown,
.msRibbonPanelButtonSelectedFocusedDown {
	/* midden */
		border: 1px solid #363636;
    background: #b3b8be;
}

.msRibbonButtonDisabled,
.msRibbonButtonSelectedDisabled,
.msRibbonDropDownButtonDisabled,
.msRibbonDropDownButtonSelectedDisabled,
.msRibbonPanelButtonDisabled,
.msRibbonPanelButtonSelectedDisabled {
	font-weight: normal;
	color: #AAAAAA;
}


.msRibbonDropDownButton,
.msRibbonDropDownButtonOver,
.msRibbonDropDownButtonFocused,
.msRibbonDropDownButtonFocusedOver,
.msRibbonDropDownButtonDown,
.msRibbonDropDownButtonFocusedDown,
.msRibbonDropDownButtonSelected,
.msRibbonDropDownButtonSelectedFocused,
.msRibbonDropDownButtonSelectedDown,
.msRibbonDropDownButtonSelectedFocusedDown,
.msRibbonDropDownButtonSelectedOver,
.msRibbonDropDownButtonSelectedFocusedOver {
/*	background-image: url('./images/ribbon/dropdowntriangle.png');
	background-repeat: no-repeat;
	background-position: center bottom; */
}

.msRibbonPanelSubPanelBorders {
	border-left: 1px solid #B3B8BE;
	border-right: 1px solid #B3B8BE;
}

.msRibbonPanelRelText {
	padding: 3px 5px;
}
	
.msRibbonPanelRel,
.msRibbonPanelSubPanelBorders {
	padding: 0;
}

.buttonTitle, .buttonTitleOver, .buttonTitleDown, .buttonTitleSelected, .buttonTitleFocused, .buttonTitleSelectedFocused, .buttonTitleSelectedOver, .buttonTitleFocusedOver, .buttonTitleSelectedFocusedOver, .buttonTitleSelectedDown, .buttonTitleFocusedDown, .buttonTitleSelectedFocusedDown, .buttonTitleDisabled, .buttonTitleSelectedDisabled {
    color: #000000;
    font-family: Tahoma,Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 11px;
}