.themeWidget,
.themeWidget-selectionPanel {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	border: 1px solid gray;	
}

.themeWidget-selectionPanelItem {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
	border: 1px solid transparent;	
}

.themeWidget-selectionPanelHover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #707070;
	background: #ececec;
}
