/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

b {
	background: transparent;
}

ol {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	margin-top: 2px;
	margin-bottom: 2px;
}

h1 {
	padding: 10px 10px 5px 10px;
	margin: 0;
	color: #00B164;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 20px;
	background: transparent;
}

h2 {
	padding: 10px 10px 5px 10px;
	margin: 0;
	color: #00B164;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 16px;
	background: transparent;
}

h3 {
	padding: 5px 10px;
	margin: 0;
	color: #00B164;
	font-family: Arial, Verdana, sans-serif;
	font-weight: bold;
	font-size: 13px;
	background: transparent;
}
p {
	padding: 10px 10px 0 10px;
	margin: 0;
}

a:link {
	color: #00B164;
	background: none;
	text-decoration: none;
	text-transform: none;
}

a:visited {
	color: #00B164;
	background: none;
	text-decoration: none;
	text-transform: none;
}

a:hover {
	color: #00B164;
	background: none;
	text-decoration: underline;
	text-transform: none;
}

.pagetitle {
	background:#C0C0C0 url("../images/lightgreyBar.png") repeat-x top left;
	border: 1px solid #A0A0A0;
	border-top-color: #E0E0E0;
	border-left-color: #C0C0C0;
}
.pagetitleTxt {
	background: url("../images/geomajas_favicon.jpg") 10px 0 no-repeat;
	font-weight: bold;
	padding-left: 35px;
	margin-top: 6px;
}

.title {
	background:#C0C0C0 url("../images/blueBar.png") repeat-x top left;
	border: 1px solid #A0A0A0;
	border-top-color: #E0E0E0;
	border-left-color: #C0C0C0;
}
.titleTxt {
	font-weight: bold;
	padding-left: 10px;
	padding-top: 3px;
}

.greenTitle {
	background:#C0C0C0 url("../images/greenBar.png") repeat-x top left;
	border: 1px solid #A0A0A0;
	border-top-color: #E0E0E0;
	border-left-color: #C0C0C0;
}
.greenTitleTxt {
	font-weight: bold;
	padding-left: 10px;
	padding-top: 3px;
	color: #CCDD99;
}

.sampleBorder {
	border: 1px solid #A0A0A0;
	border-top-color: #E0E0E0;
	border-left-color: #C0C0C0;
	padding: 2px;
}

.contentOuter {
	background:#F0F0F0 url("../images/contentBG2.png") repeat-x top left;
	border: 1px solid #C0C0C0;
	border-right-color: #888;
	border-bottom-color: #888;
}
.contentInner {
	background:#F0F0F0 url("../images/contentBG1.png") repeat-x bottom left;
	border: 1px solid #C0C0C0;
	border-right-color: #888;
	border-bottom-color: #888;
}