<!--
  ~ This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
  ~
  ~ Copyright 2008-2014 Geosparc nv, http://www.geosparc.com/, Belgium.
  ~
  ~ The program is available in open source according to the GNU Affero
  ~ General Public License. All contributions in this program are covered
  ~ by the Geomajas Contributors License Agreement. For full licensing
  ~ details, see LICENSE.txt in the project root.
  -->

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas REST example application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:org/geomajas/spring/geomajasContext.xml
            classpath:org/geomajas/rest/context/security.xml
            classpath:org/geomajas/rest/context/applicationContext.xml
            classpath:org/geomajas/rest/context/appRestExample.xml
            classpath:org/geomajas/rest/context/layerWmsBluemarble.xml
            classpath:org/geomajas/rest/context/mapWms.xml
            classpath:org/geomajas/rest/context/layerCountries110m.xml
        </param-value>
    </context-param>
 
    <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
         <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:org/geomajas/spring/geomajasWebContext.xml</param-value>
			<description>Spring Web-MVC specific (additional) context files.</description>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>	


	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
