<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas GWT face simple example application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            mypackage/shapeinmem/*.xml
  
        <!--
            mypackage/hibernate/applicationContext.xml
            mypackage/hibernate/layerRoads.xml
			mypackage/hibernate/layerStructures.xml
			mypackage/hibernate/layerOsm.xml
         -->

        <!--
            mypackage/geotools/applicationContext.xml
            mypackage/geotools/layerRoads.xml
			mypackage/geotools/layerStructures.xml
			mypackage/geotools/layerOsm.xml
         -->
        </param-value>
    </context-param>

    <context-param>
        <param-name>preloadClasses</param-name>
        <param-value>
			org.geomajas.command.general.LogCommand
			org.geomajas.spring.GeomajasBeanNameGenerator
			org.hibernate.validator.engine.ValidatorImpl
			org.geotools.data.shapefile.ShapefileDataStoreFactory
			org.opengis.filter.FilterFactory
			org.geomajas.layer.hibernate.filter.ExtendedFilterFactory
			org.springframework.transaction.config.TxNamespaceHandler
			org.springframework.web.servlet.config.MvcNamespaceHandler
			org.geotools.referencing.crs.EPSGCRSAuthorityFactory
       <!--
			org.hibernatespatial.postgis.PostgisDialect			
			org.geotools.data.postgis.PostgisDataStoreFactory
         -->
        </param-value>
    </context-param>

	<listener>
 		<listener-class>org.geomajas.servlet.PrepareScanningContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.geomajas.servlet.GeomajasContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>JettyFilter</filter-name>
		<filter-class>org.geomajas.servlet.JettyThreadParentFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>JettyFilter</filter-name>
		<servlet-name>GeomajasServiceServlet</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<servlet-class>org.geomajas.gwt.server.GeomajasServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<url-pattern>/mypackage.GeomajasSimple/geomajasService</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
