<!-- @extract-start WebXmlDojoPart1, Context listener and configuration locations -->
<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas dojo face example application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:clientcfg/*.xml
			classpath:servercfg/*.xml
            classpath:applicationContext.xml
        </param-value>
	</context-param>

	<listener>
 		<listener-class>org.geomajas.servlet.GeomajasContextListener</listener-class>
	</listener>
<!-- @extract-end -->

<!-- @extract-start WebXmlDojoPart2, Servlet definitions -->
	<servlet>
		<servlet-name>JsonServlet</servlet-name>
		<servlet-class>org.geomajas.dojo.server.servlet.JsonServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/geomajasWebContext.xml</param-value>
			<description>Spring Web-MVC specific (additional) context files.</description>
		</init-param>
		<!--
		<init-param>
			<param-name>files-location</param-name>
			<param-value>/home/joachim/apps/java/geomajas/geomajas/geomajas-dojo-client/src/main/resources</param-value>
			<description>
				When this is specified, files are searched here first.
				Files which are found at this locations are not cached.
			</description>
		</init-param>
		-->
		<load-on-startup>3</load-on-startup>
	</servlet>
<!-- @extract-end -->

<!-- @extract-start WebXmlDojoPart3, Servlet mappings -->
	<servlet-mapping>
		<servlet-name>JsonServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>
</web-app>
<!-- @extract-end -->
