<!-- @extract-start WebXmlDojoPart1, Context listener and configuration locations -->
<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas dojo face example application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            applicationContext.xml
            layerBelt.xml
            layerBluemarble.xml
            layerCities.xml
            layerCountries.xml
            layerLakes.xml
            layerOsm.xml
            layerProvinces.xml
            layerRivers.xml
            layerRoads.xml
            layerStructures.xml
            layerBeans.xml
            mapBeans.xml
        </param-value>
	</context-param>

	<listener>
 		<listener-class>org.geomajas.servlet.GeomajasContextListener</listener-class>
	</listener>
<!-- @extract-end -->

<!-- @extract-start WebXmlDojoPart2, Servlet definitions -->
	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>org.geomajas.extension.printing.PdfServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JsonServlet</servlet-name>
		<servlet-class>org.geomajas.dojo.server.servlet.JsonServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>org.geomajas.servlet.ResourceServlet</servlet-class>
        <!--
        <init-param>
            <description>
                When this is specified, files are searched here first.
                Files which are found at this locations are not cached.
            </description>
            <param-name>files-location</param-name>
            <param-value>/home/joachim/apps/java/geomajas/geomajas/face/geomajas-face-dojo/geomajas-dojo-client/src/main/resources</param-value>
            *** OR - only one path can be set ***
            <param-value>/home/joachim/apps/java/geomajas/application/geomajas-dojo-example/geomajas-dojo-example-client/src/main/resources</param-value>
        </init-param>
        -->
		<load-on-startup>3</load-on-startup>
	</servlet>
<!-- @extract-end -->

<!-- @extract-start WebXmlDojoPart2, Servlet mappings -->
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
</web-app>
<!-- @extract-end -->
