<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<context:component-scan base-package="org.geomajas.plugin.geocoder.gwt.example"
							name-generator="org.geomajas.spring.GeomajasBeanNameGenerator"/>

	<bean name="security.securityInfo" class="org.geomajas.security.SecurityInfo">
		<property name="loopAllServices" value="false"/>
		<property name="securityServices">
			<list>
				<bean class="org.geomajas.security.allowall.AllowAllSecurityService"/>
			</list>
		</property>
	</bean>

	<!-- geocoder configuration -->
	<!-- @extract-start exampleConfiguration, example configuration -->
	<bean name="geocoderInfo" class="org.geomajas.plugin.geocoder.api.GeocoderInfo">
		<property name="loopAllServices" value="true"/>
		<property name="pointDisplayWidth" value="2000" />
		<property name="pointDisplayHeight" value="1000" />
		<property name="geocoderServices">
			<list>
				<bean class="org.geomajas.plugin.geocoder.service.GeonamesGeocoderService" />
				<!-- @extract-skip-start -->
				<!--
				<bean class="org.geomajas.plugin.geocoder.service.StaticRegexGeocoderService">
					<property name="geocoderInfo">
						<bean class="org.geomajas.plugin.geocoder.api.StaticRegexGeocoderInfo">
							<property name="crs" value="EPSG:900913"/>
							<property name="locations">
								<list>
									<bean class="org.geomajas.plugin.geocoder.api.StaticRegexGeocoderLocationInfo">
										<property name="toMatch">
											<list>
												<value>Booischot</value>
											</list>
										</property>
										<property name="x" value="531242.12390"/>
										<property name="y" value="6630310.26214"/>
									</bean>
									<bean class="org.geomajas.plugin.geocoder.api.StaticRegexGeocoderLocationInfo">
										<property name="toMatch">
											<list>
												<value>london</value>
											</list>
										</property>
										<property name="canonical">
											<list>
												<value>London</value>
											</list>
										</property>
										<property name="x" value="-11618"/>
										<property name="y" value="6710559"/>
									</bean>
									<bean class="org.geomajas.plugin.geocoder.api.StaticRegexGeocoderLocationInfo">
										<property name="toMatch">
											<list>
												<value>bla</value>
											</list>
										</property>
										<property name="bbox">
											<bean class="org.geomajas.geometry.Bbox">
												<property name="x" value="531242"/>
												<property name="y" value="6710559"/>
												<property name="width" value="10000"/>
												<property name="height" value="10000"/>
											</bean>
										</property>
									</bean>
								</list>
							</property>
						</bean>
					</property>
				</bean>
				-->
				<!-- @extract-skip-end -->
			</list>
		</property>
	</bean>
	<!-- @extract-end -->
	<!-- end of geocoder configuration -->

	<bean name="app"
		  class="org.geomajas.configuration.client.ClientApplicationInfo">
		<property name="maps">
			<list>
				<ref bean="osmMap"/>
			</list>
		</property>
	</bean>

</beans>
