/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
/**** Disabled cursor *****/
.deco .dijitSliderDisabled *,
.deco .dijitDisabledClickableRegion,	/* a region the user would be able to click on, but it's disabled */
.deco .dijitSpinnerDisabled *,
.deco .dijitButtonDisabled *,
.deco .dijitDropDownButtonDisabled *,
.deco .dijitComboButtonDisabled *,
.deco .dijitComboBoxDisabled *
{
	cursor: not-allowed !important;
}

/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */
.deco .dojoDndItemBefore {
	border-top: 2px solid #369;
}

.deco .dojoDndItemAfter {
	border-bottom: 2px solid #369;
}

.deco .dojoDndItemOver {
	cursor:pointer;
}

.deco table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.deco .dojoDndAvatar td	{ border: none; }
.deco .dojoDndAvatar tr	{ border: none; }
.deco .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.deco .dojoDndAvatarItem td { padding: 2px;}
.deco.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.deco.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.deco.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.deco.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}

.deco .dijitContentPaneLoading {
	background:url('images/loading.gif') no-repeat left center;
	padding-left:25px;
}

.deco .dijitContentPaneError {
	background:url('images/warning.png') no-repeat left center;
	padding-left:25px;
}
