/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
/* Dialog */
.dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-position: -60px top;
	float: left;
	right: auto;
	left: 5px;
}

/*FIXME: redundant?*/
.dj_ie6 .dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-position: -60px top;
}


/* ToolTip */

.dj_ie .dijitRtl .dijitTooltipLeft {
	margin-right: 0px;
	margin-left: 13px;
}

.dj_ie .dijitRtl .dijitTooltipRight {
	margin-left: 26px;
	margin-right: -13px;
}

.dj_ie .dijitRtl .dijitTooltipDialog {
	zoom:1 !important;
}