/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
/* Dialog */

.deco .dijitDialog {
	background: #fff;
	border: 1px solid #7eabcd;
	-webkit-box-shadow: 0px 5px 10px #adadad;
	padding: 0px;
}

.deco .dijitDialog .dijitDialogTitle {
	border-top: none;
	border-left: none;
	border-right: none;
}

.deco .dijitDialog .dijitDialogPaneContent {
	background: #fff;
	border:none;
	border-top: 1px solid #d3d3d3; /* #cddde9;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	padding:10px;

}

.deco .dijitDialogTitleBar {
	/* outer container for the titlebar of the dialog */
	background: #fafafa url("images/titleBar.png") repeat-x top left;
	/* border: 1px solid #bfbfbf; */
	padding: 5px 6px 3px 2px;
	cursor: move;
	outline:0; /* remove this line if keyboard focus on dialog startup is an issue. tab still takes you to first focusable element */
}

.deco .dijitDialogTitle {
	/* typography and styling of the dialog title */
	font-weight: bold;
	padding: 8px 12px 8px 12px;
	outline:0;
}

.deco .dijitDialogCloseIcon {
	/* the default close icon for the dialog */
	background : url("images/spriteRoundedIconsSmall.png") no-repeat right top;
	float: right;
	position: absolute;
	vertical-align: middle;
	right: 6px;
	top: 4px;
	height: 15px;
	width: 15px;
	cursor: pointer;
}
.dj_ie6 .deco .dijitDialogCloseIcon {
	background : url("images/spriteRoundedIconsSmall.gif") no-repeat right top;
}

.deco .dijitDialogContent {
	/* the body of the dialog */
	padding: 8px;
}


/* Tooltip and TooltipDialog */

.deco .dijitTooltip,
.deco .dijitTooltipDialog {
	/* the outermost dom node, holding the connector and container */
	/* opacity: 0.95; */
	background: transparent;	/* make the area on the sides of the arrow transparent */
}

.dijitTooltipBelow {
	/* leave room for arrow above content */
	padding-top: 13px;
}

.dijitTooltipAbove {
	/* leave room for arrow below content */
	padding-bottom: 13px;
}

.deco .dijitTooltipContainer {
	/*
		The part with the text.
	*/
	background: #ffffff url("images/popupMenuBg.gif") repeat-x bottom left;
	border:1px solid #7eabcd;
	padding:0.45em;	
	-webkit-border-radius: 6px;
}

.deco .dijitTooltipConnector {
	/* the arrow piece */
	border:0px;
	z-index: 2;
}
.deco .dijitTooltipABRight .dijitTooltipConnector {
	/* above or below tooltip, but the arrow appears on the right,
		and the right edges of target and tooltip are aligned rather than the left */
	left: auto !important;
	right: 3px;
}

.deco .dijitTooltipBelow .dijitTooltipConnector {
	/* the arrow piece for tooltips below an element */
	top: 0px;
	left: 3px;
	background:url("images/tooltipConnectorUp.png") no-repeat top left;
	width:16px;
	height:14px;
}

.dj_ie6 .deco .dijitTooltipBelow .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorUp.gif");
}

.deco .dijitTooltipAbove .dijitTooltipConnector {
	/* the arrow piece for tooltips above an element */
	bottom: 0px;
	left: 3px;
	background:url("images/tooltipConnectorDown.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .deco .dijitTooltipAbove .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorDown.gif");
	bottom: -3px;
}

.deco .dijitTooltipLeft {
	padding-right: 14px;
}
.dj_ie6 .deco .dijitTooltipLeft {
	padding-left: 15px;
}
.deco .dijitTooltipLeft .dijitTooltipConnector {
	/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
	right: 0px;
	bottom: 7px;
	background:url("images/tooltipConnectorRight.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .deco .dijitTooltipLeft .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorRight.gif");
}

.deco .dijitTooltipRight {
	padding-left: 14px;
}
.deco .dijitTooltipRight .dijitTooltipConnector {
	/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
	left: 0px;
	bottom: 7px;
	background:url("images/tooltipConnectorLeft.png") no-repeat top left;
	width:16px;
	height:14px;
}
.dj_ie6 .deco .dijitTooltipRight .dijitTooltipConnector {
	background-image: url("images/tooltipConnectorLeft.gif");
}


.dj_safari .deco .dijitPopup .dijitTooltipContainer,
.dj_safari .deco .dijitPopup .dijitMenu {
	/* -webkit-border-radius: 5px; */
	-webkit-box-shadow: 0px 5px 10px #adadad;
}


/*
 * Control opacity of popups
 */
.deco .dijitPopup > div,
.deco .dijitPopup > table {
	opacity: 0.95;
}
