/*
 * This file is part of Geomajas, a component framework for building
 * rich Internet applications (RIA) with sophisticated capabilities for the
 * display, analysis and management of geographic information.
 * It is a building block that allows developers to add maps
 * and other geographic data capabilities to their web applications.
 *
 * Copyright 2008-2010 Geosparc, http://www.geosparc.com, Belgium
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.dijitIEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

.deco .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}

.deco .dijitEditorIcon {
	background-image: url('images/editor.gif'); /* editor icons sprite image */
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.deco .dijitEditorIconSep { background-position: 0px; }
.deco .dijitEditorIconBackColor { background-position: -18px; }
.deco .dijitEditorIconBold { background-position: -36px; }
.deco .dijitEditorIconCancel { background-position: -54px; }
.deco .dijitEditorIconCopy { background-position: -72px; }
.deco .dijitEditorIconCreateLink { background-position: -90px; }
.deco .dijitEditorIconCut { background-position: -108px; }
.deco .dijitEditorIconDelete { background-position: -126px; }
.deco .dijitEditorIconForeColor { background-position: -144px; }
.deco .dijitEditorIconHiliteColor { background-position: -162px; }
.deco .dijitEditorIconIndent { background-position: -180px; }
.deco .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.deco .dijitEditorIconInsertImage { background-position: -216px; }
.deco .dijitEditorIconInsertOrderedList { background-position: -234px; }
.deco .dijitEditorIconInsertTable { background-position: -252px; }
.deco .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.deco .dijitEditorIconItalic { background-position: -288px; }
.deco .dijitEditorIconJustifyCenter { background-position: -306px; }
.deco .dijitEditorIconJustifyFull { background-position: -324px; }
.deco .dijitEditorIconJustifyLeft { background-position: -342px; }
.deco .dijitEditorIconJustifyRight { background-position: -360px; }
.deco .dijitEditorIconLeftToRight { background-position: -378px; }
.deco .dijitEditorIconListBulletIndent { background-position: -396px; }
.deco .dijitEditorIconListBulletOutdent { background-position: -414px; }
.deco .dijitEditorIconListNumIndent { background-position: -432px; }
.deco .dijitEditorIconListNumOutdent { background-position: -450px; }
.deco .dijitEditorIconOutdent { background-position: -468px; }
.deco .dijitEditorIconPaste { background-position: -486px; }
.deco .dijitEditorIconRedo { background-position: -504px; }
.deco .dijitEditorIconRemoveFormat { background-position: -522px; }
.deco .dijitEditorIconRightToLeft { background-position: -540px; }
.deco .dijitEditorIconSave { background-position: -558px; }
.deco .dijitEditorIconSpace { background-position: -576px; }
.deco .dijitEditorIconStrikethrough { background-position: -594px; }
.deco .dijitEditorIconSubscript { background-position: -612px; }
.deco .dijitEditorIconSuperscript { background-position: -630px; }
.deco .dijitEditorIconUnderline { background-position: -648px; }
.deco .dijitEditorIconUndo { background-position: -666px; }
.deco .dijitEditorIconWikiword { background-position: -684px; }
.deco .dijitEditorIconToggleDir { background-position: -540px; /* padding: 0; margin: 0; color:#555555;
									font-family:verdana,arial,sans-serif; font-weight: 800; font-size: 70%; */}
