/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitMenu {
	border: 1px solid #7eabcd;
	margin: 0px;
	padding: 0px;
}

.deco .dijitMenuItem {
	background-color: #f7f7f7;
	font: menu;
	margin: 0;
}
.deco .dijitMenuPreviousButton, .deco .dijitMenuNextButton {
	font-style: italic;
}
.deco .dijitMenuItem td {
	padding:2px;
}

.deco .dijitMenuItemHover {
	background-color: #60a1ea;
	color:#fff;
}

.deco .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.deco .dijitMenuExpand {
	display:none;
}
.deco .dijitMenuExpandEnabled {
	width:16px;
	height:16px;
	background:url('images/arrowRight.gif') no-repeat center center;
	display:block;
}

.deco .dijitMenuExpandInner {
	display:none;
}

.deco .dijitMenuSeparator {
	background-color: #f7f7f7;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.deco .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.deco .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}