/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitProgressBar {
	margin:2px 0px 2px 0px;
}

.deco .dijitProgressBarEmpty{
	/* outer container and background of the bar that's not finished yet*/
	background:#fff url("images/progressBarEmpty.png") repeat-x top left;
	border-color: #a2a2a2 #b8b8b8 #b8b8b8 #a2a2a2;
}

.deco .dijitProgressBarTile{
	/* inner container for finished portion when in 'tile' (image) mode */
	background:#f0f0f0 url("images/progressBarFull.png") repeat-x center center;
}

.deco .dijitProgressBarFull {
	border-right:1px solid #b8b8b8;
}

.deco .dijitProgressBarLabel {
	/* Set to a color that contrasts with both the "Empty" and "Full" parts. */
	color:#293a4b;
}

.deco .dijitProgressBarIndeterminate .dijitProgressBarTile {
	/* use an animated gif for the progress bar in 'indeterminate' mode */
	background:#cad2de url("images/progressBarAnim.gif") repeat-x center center;
}
