/*
 * This file is part of Geomajas, a component framework for building
 * rich Internet applications (RIA) with sophisticated capabilities for the
 * display, analysis and management of geographic information.
 * It is a building block that allows developers to add maps
 * and other geographic data capabilities to their web applications.
 *
 * Copyright 2008-2010 Geosparc, http://www.geosparc.com, Belgium
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* BorderContainer */

.deco .dijitSplitterH {
	background:url("../images/splitContainerSizerH.png") repeat-x #fff;
	border:0;
	border-left:0px solid #d3d3d3;
	border-right:0px solid #d3d3d3;
	height:5px;
}

.deco .dijitSplitterH .dijitSplitterThumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat;
	top:1px;
	width:19px;
	height:2px;
}

.deco .dijitSplitterV {
	background:url("../images/splitContainerSizerV.png") repeat-y #fff;
	border:0;
	border-top:0px solid #d3d3d3;
	border-bottom:0px solid #d3d3d3;
	width:5px;
}

.deco .dijitSplitterV .dijitSplitterThumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat;
	left:1px;
	height:19px;
	width:5px;
}
