<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
  ~
  ~ Copyright 2008-2016 Geosparc nv, http://www.geosparc.com/, Belgium.
  ~
  ~ The program is available in open source according to the GNU Affero
  ~ General Public License. All contributions in this program are covered
  ~ by the Geomajas Contributors License Agreement. For full licensing
  ~ details, see LICENSE.txt in the project root.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.geomajas.layer.hibernate.HSQLSpatialDialect</property>

		<!-- always recreate the db schema for a clean test setup -->
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		
		<mapping class="org.geomajas.layer.hibernate.simple.pojo.SimpleFeature" />
		
		<mapping class="org.geomajas.layer.hibernate.pojo.HibernateTestFeature" />
		<mapping class="org.geomajas.layer.hibernate.pojo.HibernateTestManyToOne" />
		<mapping class="org.geomajas.layer.hibernate.pojo.HibernateTestOneToMany" />

		<mapping class="org.geomajas.layer.hibernate.association.pojo.AssociationFeature" />
		<mapping class="org.geomajas.layer.hibernate.association.pojo.ManyToOneProperty" />
		<mapping class="org.geomajas.layer.hibernate.association.pojo.OneToManyProperty" />
		
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedFeature" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedMany" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedManyInMany" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedManyInOne" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedOne" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedOneInMany" />
		<mapping class="org.geomajas.layer.hibernate.nested.pojo.NestedOneInOne" />
		
		<mapping class="org.geomajas.layer.hibernate.inheritance.pojo.AbstractAttribute" />
		<mapping class="org.geomajas.layer.hibernate.inheritance.pojo.AbstractHibernateTestFeature" />
		<mapping class="org.geomajas.layer.hibernate.inheritance.pojo.ExtendedAttribute" />
		<mapping class="org.geomajas.layer.hibernate.inheritance.pojo.ExtendedHibernateTestFeature" />

	</session-factory>
</hibernate-configuration>