/*===========================================================================*/
/*====                            Scalebar                               ====*/
/*===========================================================================*/

@external gm-Scalebar;
.gm-ScalebarControl {
	margin: 0px;
	padding: 2px 3px;
	border: 0px;
	background: #F0F0F0;
	bottom: 0px;
	left: 0px;
	height: 19px;
	position: absolute;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-moz-box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
  	-webkit-box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
	box-shadow: 0 1px 6px rgba(40, 42, 44, 0.8);
}

@external gm-ScalebarControl-bar;
.gm-ScalebarControl-bar {
	padding: 0px 4px 2px 4px;
	border-left: 1px solid #282A2C;
	border-right: 1px solid #282A2C;
	border-bottom: 1px solid #282A2C;
	position: absolute;
	font-family: Verdana, Arial;
	font-size: 11px;
	font-weight: normal;
	white-space: nowrap;
	color: #282A2C;
}