/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.dojoxResizeHandle {
	float: right;
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 13px;
	height: 13px;
	z-index: 20;
	background-image: url('icons/resize.png');
	line-height: 0px;
}

.dojoxResizeNW {
	cursor: nw-resize;
}

.dojoxResizeNE {
	cursor: ne-resize; 
}

.dojoxResizeW {
	cursor: w-resize; 
}


.dojoxResizeN { 
	cursor: n-resize; 
}

.dojoxResizeHandleClone {
	position:absolute; top:0; left:0; 
	border:1px dashed #666; 
	z-index:999; 
}
