/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitSplitContainerSizerH {
	background:url("../images/splitContainerSizerV.png") repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}

.deco .dijitSplitContainerSizerH .thumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
	overflow: hidden;
}

.deco .dijitSplitContainerSizerV {
	background:url("../images/splitContainerSizerH.png") repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}

.deco .dijitSplitContainerSizerV .thumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
	overflow: hidden;
}

.deco .dijitSplitter {
	border-color: #bfbfbf;
}