/*
 * This file is part of Geomajas, a component framework for building
 * rich Internet applications (RIA) with sophisticated capabilities for the
 * display, analysis and management of geographic information.
 * It is a building block that allows developers to add maps
 * and other geographic data capabilities to their web applications.
 *
 * Copyright 2008-2010 Geosparc, http://www.geosparc.com, Belgium
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.deco .dijitSplitContainerSizerH {
	background:url("../images/splitContainerSizerV.png") repeat-y #fff;
	border:0;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	width:7px;
}

.deco .dijitSplitContainerSizerH .thumb {
	background:url("../images/splitContainerSizerV-thumb.png") no-repeat #ccc;
	left:1px;
	width:3px;
	height:19px;
	overflow: hidden;
}

.deco .dijitSplitContainerSizerV {
	background:url("../images/splitContainerSizerH.png") repeat-x #fff;
	border:0;
	border-top:1px solid #bfbfbf;
	border-bottom:1px solid #bfbfbf;
	height:7px;
}

.deco .dijitSplitContainerSizerV .thumb {
	background:url("../images/splitContainerSizerH-thumb.png") no-repeat #ccc;
	top:1px;
	width:19px;
	height:3px;
	overflow: hidden;
}

.deco .dijitSplitter {
	border-color: #bfbfbf;
}