/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.newIcon {
	background-image: url('images/new.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.deleteIcon {
	background-image: url('images/delete.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.saveIcon {
	background-image: url('images/save.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.resetIcon {
	background-image: url('images/reset.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.undoIcon {
	background-image: url('images/undo.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.searchIcon {
	background-image: url('images/view.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.filterIcon {
	background-image: url('images/filter.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.optionsIcon {
	background-image: url('images/options.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.worldIcon {
	background-image: url('images/world.png');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.chartIcon {
	background-image: url('images/chart-16x16.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.chatIcon {
	background-image: url('images/chat.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.importIcon {
	background-image: url('images/import_xml.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.exportIcon {
	background-image: url('images/export.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}
