/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
@import url("default_icons.css");


/* Icon classes for the Toolbar tools and actions. */

.deselectAllIcon {
	background-image: url('images/deselect.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.editIcon {
	background-image: url('images/wijzig_geometrie.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.editSelectedIcon {
	background-image: url('images/wijzig_attributen.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.featureInfoIcon {
	background-image: url('images/info.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.measureDistanceIcon {
	background-image: url('images/meetlat.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.mergePolygonIcon {
	background-image: url('images/kopieer_object.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.navigateIcon {
	background-image: url('images/pijltje.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.panIcon {
	background-image: url('images/hand.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.rotateLeftIcon {
	background-image: url('images/rotate_left.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.selectionIcon {
	background-image: url('images/checkbox.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.splitPolygonIcon {
	background-image: url('images/splitsen.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomInIcon {
	background-image: url('images/zoom_in.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomOutIcon {
	background-image: url('images/zoom_out.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomNextIcon {
	background-image: url('images/view_next.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomPreviousIcon {
	background-image: url('images/view_previous.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomToRectangleIcon {
	background-image: url('images/zoom_selectie.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomToSelectionIcon {
	background-image: url('images/selection_view.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.zoomToMaximumExtentIcon {
    background-image: url('images/zoom_maximum_extent.gif');
    background-repeat: no-repeat; 
    width: 18px;
    height: 18px;
    text-align: center;
}

.panToSelectionIcon {
	background-image: url('images/pan.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.showDefaultPrintIcon {
	background-image: url('images/showDefaultPrintIcon.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.printIcon {
	background-image: url('images/printIcon.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}


/* Icon classes for the LayerTree tools and actions. */

.layerIsVisibleIcon16 {
	background-image: url('images/layer_visible16.png');
	background-repeat: no-repeat; 
	width: 16px;
	height: 16px;
	text-align: center;
}

.layerIsNotVisibleIcon16 {
	background-image: url('images/layer_invisible16.png');
	background-repeat: no-repeat; 
	width: 16px;
	height: 16px;
	text-align: center;
}

.layerIsVisibleIcon {
	background-image: url('images/layer_visible.png');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.layerIsNotVisibleIcon {
	background-image: url('images/layer_invisible.png');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.layerLabeledIcon {
	background-image: url('images/label.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.labelStyleIcon {
	background-image: url('images/label_style.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.layerSnappingIcon {
	background-image: url('images/snap.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.layerVisibleIcon {
	background-image: url('images/zoeken.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.showTableIcon {
	background-image: url('images/table.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}

.refreshLayerIcon {
	background-image: url('images/refresh.gif');
	background-repeat: no-repeat; 
	width: 18px;
	height: 18px;
	text-align: center;
}
.mouseInfoToolIcon {
	background-image:url("images/mouse_info_tool.png");
	background-repeat:no-repeat;
	height:16px;
	text-align:center;
	width:16px;
}