<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
	<display-name>Geomajas GWT face example application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            <!-- Server side raster layers -->
			org/geomajas/example/gwt/servercfg/**/*.xml

            <!-- Map Configurations -->
			org/geomajas/example/gwt/clientcfg/**/*.xml

       </param-value>
    </context-param>

	<!-- @extract-start PreloadToPrepareScanning, Preload class to prevent scanning problems -->
    <context-param>
        <param-name>preloadClasses</param-name>
        <param-value>
			org.geomajas.command.general.LogCommand
			org.geomajas.spring.GeomajasBeanNameGenerator
			org.hibernate.validator.engine.ValidatorImpl
			org.geomajas.plugin.staticsecurity.command.dto.LoginRequest
			org.geotools.data.shapefile.ShapefileDataStoreFactory
 			org.geomajas.gwt.client.Geomajas
 			org.geomajas.layer.geotools.GeoToolsLayer
 			org.geomajas.layer.hibernate.HibernateLayer
 			org.geomajas.layer.osm.OsmLayer
 			org.geomajas.layer.wms.WmsLayer
 			org.geotools.referencing.crs.EPSGCRSAuthorityFactory
			org.springframework.transaction.config.TxNamespaceHandler
			org.geomajas.plugin.printing.command.dto.PrintGetTemplateRequest
       </param-value>
    </context-param>

	<listener>
 		<listener-class>org.geomajas.servlet.PrepareScanningContextListener</listener-class>
	</listener>
	<!-- @extract-end -->
	
	<listener>
 		<listener-class>org.geomajas.servlet.GeomajasContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<servlet-class>org.geomajas.gwt.server.GeomajasServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/geomajasWebContext.xml</param-value>
			<description>Spring Web-MVC specific (additional) context files.</description>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<url-pattern>/org.geomajas.example.gwt.GeomajasSamples/geomajasService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>samples.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

