/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.deco .dijitCheckBox,
.deco .dijitCheckBoxIcon		/* inside a toggle button */	{
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.deco .dijitCheckBox,
.deco .dijitToggleButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.deco .dijitCheckBoxChecked,
.deco .dijitToggleButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0px;
}

.deco .dijitCheckBoxDisabled {
	/* disabled */
	background-position: -48px;
}

.deco .dijitCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.deco .dijitCheckBoxHover,
.deco .dijitCheckBoxFocused {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.deco .dijitCheckBoxCheckedHover,
.deco .dijitCheckBoxCheckedFocused {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}
