/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitToggleButton .dijitRadio,
.deco .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}

.deco .dijitRadio,
.deco .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('../images/checkmark.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.deco .dijitRadio,
.deco .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -112px;
}

.deco .dijitRadioChecked,
.deco .dijitToggleButtonChecked .dijitRadioIcon {
	/* selected */
	background-position: -96px;
}

.deco .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -144px;
}

.deco .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -128px;
}

.deco .dijitRadioHover,
.deco .dijitRadioFocused {
	/* hovering over an unselected enabled radio button */
	background-position: -176px;
}

.deco .dijitRadioCheckedHover,
.deco .dijitRadioCheckedFocused {
	/* hovering over a selected enabled radio button */
	background-position: -160px;
}

