/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.dijitRtl .dijitSliderProgressBarH,
.dijitRtl .dijitSliderRemainingBarH,
.dijitRtl .dijitSliderLeftBumper,
.dijitRtl .dijitSliderRightBumper,
.dijitRtl .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .dijitSliderProgressBarV,
.dijitRtl .dijitSliderRemainingBarV,
.dijitRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .dijitSliderIncrementIconH {
	background-image:url('../images/arrowLeft.png');
}

.dijitRtl .dijitSliderDecrementIconH {
	background-image:url('../images/arrowRight.png');
}
