/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2011 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */
.deco .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.deco .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.deco .dijitSliderFocused .dijitSliderProgressBarH,
.deco .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

.deco .dijitSliderFocused .dijitSliderProgressBarV,
.deco .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

.deco .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.deco .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.deco .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.deco .dijitSliderFocused .dijitSliderBar {
	border-color:#333;	
}

.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}

.deco .dijitSliderImageHandleH {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	cursor:pointer;
}
.deco .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}

.dj_ie6 .deco .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}

.deco .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.deco .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.deco .dijitSliderImageHandleV {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	cursor:pointer;
}

.deco .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .deco .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}

.deco .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.deco .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.deco .dijitSliderIncrementIconH,
.deco .dijitSliderIncrementIconV {
	background:url('../images/arrowUp.png') no-repeat center center;
	width:16px; height:16px;
	cursor:pointer;
}
.deco .dijitSliderIncrementIconH {
	background-image:url('../images/arrowRight.png');
}

.deco .dijitSliderDecrementIconH,
.deco .dijitSliderDecrementIconV {
	width:16px;
	height:16px;
	cursor:pointer;
	background:url('../images/arrowDown.png') no-repeat center center;
}
.deco .dijitSliderDecrementIconH { background-image:url('../images/arrowLeft.png'); }

.deco .dijitSliderButtonInner {
	visibility:hidden;
}

.deco .dijitSliderDisabled {
	opacity:0.6 !important;
}

.dj_ie6 .deco .dijitSliderDisabled,
.dj_ie6 .deco .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .deco .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .deco .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}

.deco .dijitSliderDisabled * {
	cursor: not-allowed !important;
}