
/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2013 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */

body {
	/*background: #F0F0F0 url(../images/bkg_gradient.gif) repeat-x;*/
	background-color: #F8F8F8;
	margin: 0 auto;
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	max-width: 780px;
	color: #333;
	line-height: 150%;
	text-align: justify;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}




/*------ Links --------*/

a:link {
	color: #009651;
}

a:visited {
	color: #00BC66;
}




/*------ headings -------*/

h1, h2, h3, h4, h5, h6 {
	color: #097B41;
	line-height: 160%;
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
	padding: 4px 0 4px 10px;
}


h1 {
	font-size: 26px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #CCCCCC;
	margin: 35px 0 15px 0;
}

h2 {
	font-size: 18px;
	line-height: 150%;
	background-color: #F2F2F2;
	border-bottom: 1px solid #CCCCCC;
	margin: 25px 0 15px 0;
}

h3 {
	font-size: 14px;
	line-height: 130%;
	margin: 0;
}

h4 {
	font-size: 12px;
	line-height: 120%;
	margin: 0;
	padding-left: 25px;
}

h5.formalpara {
	font-size: 12px;
	line-height: 110%;
	margin: 0;
}




/*------- Lists -------*/

ol li, ul li {
	padding-left: .2em;
	padding-bottom: .5em;
	margin: 0;
}

li p {
	padding-left: 0;
}

ul {
	padding-left: 40px;
	list-style: circle url(../images/dot.png);
}


ul ul {
	list-style: circle url(../images/dot2.png);
}

dt {
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
}

dd {
	margin: 0 0 0 2em;
	padding-top: 0;
}

li p:first-child, dd p:first-child {
	margin-top: .3em;
}

.variablelist, .itemizedlist {
	margin-top: .6em;
}

ul li p:first-child {
	margin: 0;
}




/*-------- Other elements --------*/

hr {
	border-collapse: collapse;
	border-style: none;
	border-top: 1px dotted #ccc;
	width: 100% !important;
}

sup {
	color: #999;
}

p {
	padding: 0 10px;
}
