/*
 * This is part of Geomajas, a GIS framework, http://www.geomajas.org/.
 *
 * Copyright 2008-2013 Geosparc nv, http://www.geosparc.com/, Belgium.
 *
 * The program is available in open source according to the GNU Affero
 * General Public License. All contributions in this program are covered
 * by the Geomajas Contributors License Agreement. For full licensing
 * details, see LICENSE.txt in the project root.
 */

@import "defaults.css";

/*---- TITLE BLOCK ----*/

.book {
	background: #FFFFFF url(../images/header.png) no-repeat;
	padding-top: 90px;
}

.releaseinfo, .copyright {
	padding: 0 10px;
}

.toc, .list-of-figures, .list-of-tables, .list-of-examples {
	padding: 5px 20px;
}

.toc {
	line-height: 21px;
}
.toc p {
	padding: 0;
}




/*------- NOTIFICATIONS --------*/

div.note, div.tip, div.important, div.caution, div.warning {
	color: white;
	padding: 1em 1em 20px;
	margin-bottom: 1.5em;

	-moz-border-radius:10px;
	border-radius:10px;
}

div.note pre, div.tip pre, div.important pre, div.caution pre, div.warning pre {
	background-color: #d6dee0;
	color: #334558;
	border: 1px solid #e1e9eb;
}

div.note, div.tip, div.important, div.caution, div.warning {
	margin-top: .5em;
}

div.note {
	background: #849092 url(../images/note.png) no-repeat 10px 10px;
	border: 1px solid #849092;
}

div.tip {
	background: #70A5C4 url(../images/tip.png) no-repeat 10px 10px;
	border: 1px solid #70A5C4;
}

div.important {
	background: #397941 url(../images/important.png) no-repeat 10px 10px;
	border: 1px solid #397941;
}

div.caution {
	background: #C09C0E url(../images/caution.png) no-repeat 10px 10px;
	border: 1px solid #C09C0E;
}

div.warning {
	background: #873009 url(../images/warning.png) no-repeat 10px 10px;
	border: 1px solid #873009;
}

div.note .replaceable, div.tip .replaceable, div.important .replaceable, div.caution .replaceable, div.warning .replaceable {
	color: #e3dcc0;
}

pre .replaceable, tt .replaceable {
	color: #444 !important;
}

div.note h2, div.tip h2, div.important h2, div.caution h2, div.warning h2 {
	height: 32px;
	font-size: 1.3em;
	color: white;
}

div.note h3, div.tip h3, div.important h3, div.caution h3, div.warning h3 {
	padding: 0 0 0 56px;
	height: 32px;
	font-size: 1.3em;
	color: white;
}

div.note .guilabel, div.tip .guilabel, div.important .guilabel, div.caution .guilabel, div.warning .guilabel {
	color: white !important;
}

div.note li, div.tip li, div.caution li, div.warning li, div.important li {
	padding-left: 10px;
	margin: 0;
}

div.note ul, div.tip ul, div.caution ul, div.warning ul, div.important ul {
	padding-left: 40px;
	margin: 0;
}

div.note pre pre a:visited, div.tip pre pre a:visited, div.important pre pre a:visited,
div.caution pre pre a:visited, div.warning pre pre a:visited, div.note pre a:link,
.tip pre a:link, div.important pre a:link, div.caution pre a:link, div.warning pre a:link {
	color: #0066cc !important;
}

div.note a:visited, div.tip a:visited, div.important a:visited, div.caution a:visited,
div.warning a:visited, div.note a:link, div.tip a:link, div.important a:link, div.caution a:link, div.warning a:link {
	color: #f7f2d0;
}

div.note h2, div.note p, div.tip h2, div.tip p, div.caution h2, div.caution p, div.warning h2, div.warning p, div.important h2, .important p {
	padding: 0 0 0 56px;
	margin: 0;
}






/*----------- TABLE ---------*/

table {
	font-size:12px;
	border: 1px solid #849C85;/*#849092*/
	width: 95%;
	border-collapse: collapse;
	margin: 0 auto;
}

table th {
	text-align: left;
	background: #7E9E84 url(../images/table_header.png) repeat-x;
	padding: 4px 8px;
	color: white;
}

table td {
	padding: 4px 8px;
	background-color: #F8FCF8;
}

table tr.even td {
	background-color: #f5f5f5;
}

table th p:first-child, table td p:first-child, table  li p:first-child {
	margin-top: 0;
	padding-top: 0;
	display: inline;
}

table table td {
	border-bottom: 1px dotted #aaa !important;
	background-color: white;
	padding: .6em 0;
}

table table {
	border: 1px solid white !important;
	font-size: .9em;
}

td.remarkval {
	font-size: .9em;
	color: #444;
}

.defaultval {
	font-size: .8em
}

td.typeval {
	font-size: .8em
}

td.fieldval {
	font-weight: bold;
	font-size: .9em;
}

th.dbkey {
	font-size: .9em;
}

.lbname, .lbtype, .lbdescr, .lbdriver, .lbhost {
	color: white;
	font-weight: bold;
	background-color: #999;
	font-size: 0.9em;
	width: 120px;
}

td.remarkval {
	width: 230px;
}

td.tname {
	font-weight: bold;
	font-size: 1.1em;
}

h5 {
	font-size: 9pt;
}

h6 {
	font-size: 10pt;
}

th.dbfield {
	width: 120px;
}

th.dbtype {
	width: 70px;
}

th.dbdefault {
	width: 70px;
}

th.dbnul {
	width: 70px;
}

th.dbkey {
	width: 70px;
}







/*---------- CODES SNIPPETS & FIGURES ----------*/

pre, code, .guibutton, .keycap, .guilabel {
	font-size: 12px;
	font-family: "liberation mono", "Bitstream vera mono", monospace;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

pre {
	display: block;
	border: 1px solid #AACCAA;
	background-color: #F6FCF6;
	color: #336633;
	overflow: auto;
	padding: 10px 15px;
}

.example, .figure {
	margin: 0 10px 10px;
	background-color: #D3EDD3;
	border: 1px solid #AACCAA;
	padding: 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.programlisting {
	margin: 0 10px;
}

.example .title {
	margin: 3px 0 0 0;
}

li pre {
	margin: 2px 10px;
}


.figure .title {
	margin: 3px 0 5px 0;
}

.figure table {
	padding: 0 5px 10px 5px;
	width: 100%;
	border: 0;
}

.figure td {
	background-color: #D3EDD3;
}

img {
	display: block;
	margin: 0;
	border: 1px solid #AACCAA;
}

.inlinemediaobject, .inlinemediaobject img {
	display: inline !important;
	margin: 0 5px 5px 5px;
	border: 1px solid #AACCAA;
}