/* ------------------------------------------------------------------------*/
/* ExceptionDialog --------------------------------------------------------*/
/* ------------------------------------------------------------------------*/

@external .exceptionDialogButtonPanel;
.exceptionDialogButtonPanel {
	text-align: right;
	width: 680px;
	padding: 5px;
}

@external .exceptionDialogStackTracePanel;
.exceptionDialogStackTracePanel {
	width: 680px;
	max-height: 300px;
	overflow: auto;
	background: #DDD;
	margin: 5px;
	padding: 5px;
}

@external .exceptionDialogMessageLabel;
.exceptionDialogMessageLabel {
	padding-left: 50 px;
}

/*close icon*/
@external .exceptionDialogCloseIcon;
@external .exceptionDialogCloseIcon:hover;
@sprite .exceptionDialogCloseIcon {
	gwt-image: "exceptionDialogCloseIcon";
	cursor: pointer;
	cursor: hand;
	border: 0px;
	float: right;
}

@sprite .exceptionDialogCloseIcon:hover {
	gwt-image: "exceptionDialogCloseIconHover";
}

@external .exceptionDialogTitle;
.exceptionDialogTitle {
	float: left;
	font-size: 14px;
}