<!--
  ~ This file is part of Geomajas, a component framework for building
  ~ rich Internet applications (RIA) with sophisticated capabilities for the
  ~ display, analysis and management of geographic information.
  ~ It is a building block that allows developers to add maps
  ~ and other geographic data capabilities to their web applications.
  ~
  ~ Copyright 2008-2010 Geosparc, http://www.geosparc.com, Belgium
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean name="security.securityInfo" class="org.geomajas.security.SecurityInfo">
		<property name="loopAllServices" value="false" />
		<property name="securityServices">
			<list>
				<bean class="org.geomajas.security.allowall.AllowAllSecurityService" />
			</list>
		</property>
	</bean>

	<bean name="tutorial" class="org.geomajas.configuration.client.ClientApplicationInfo">
		<property name="maps">
			<list>
				<ref bean="sampleFeaturesMap" />
				<ref bean="sampleEditingMap" />
				<ref bean="sampleSearchMap" />
				<ref bean="sampleTechMap" />
				<ref bean="sampleTechOverviewMap" />
				<ref bean="beansMap" />
			</list>
		</property>
	</bean>


	<!-- client layers -->

	<bean class="org.geomajas.configuration.client.ClientRasterLayerInfo" id="bluemarbleLayer">
		<property name="serverLayerId" value="bluemarble" />
	  	<property name="label" value="NASA Blue Marble - WMS"/>
		<property name="visible" value="true"/>
		<property name="viewScaleMin" value="0"/>
		<property name="viewScaleMax" value="100000"/>
        <property name="style" value="opacity:0.8;"/>
	</bean>

	<bean class="org.geomajas.configuration.client.ClientRasterLayerInfo" id="osmLayer">
		<property name="serverLayerId" value="osm" />
		<property name="label" value="OpenStreetMap (raster)" />
		<property name="visible" value="true" />
		<property name="viewScaleMin" value="0"/>
		<property name="viewScaleMax" value="50"/>
		<property name="style" value="1" />
	</bean>


	<!-- Toolbar info -->

	<bean name="ToolbarSeparator" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="ZoomIn" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="delta" />
					<property name="value" value="2" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="ZoomInMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="delta" />
					<property name="value" value="2" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="ZoomOut" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="delta" />
					<property name="value" value=".5" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="ZoomOutMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="delta" />
					<property name="value" value=".5" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="ZoomPrevious" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="ZoomNext" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="ZoomToRectangleMode" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="ZoomToSelection" class="org.geomajas.configuration.client.ClientToolInfo"/>
	
	<bean name="ZoomToMaximumExtent" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="includeLayers" />
					<property name="value" value="countries" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="PanToSelection" class="org.geomajas.configuration.client.ClientToolInfo"/>
	<bean name="PanMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="hideLabelsOnDrag" />
					<property name="value" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="DeselectAll" class="org.geomajas.configuration.client.ClientToolInfo"/>
	<bean name="MeasureDistanceMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="simple" />
					<property name="value" value="false" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="useSnapHelp" />
					<property name="value" value="true" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="FeatureInfoMode" class="org.geomajas.configuration.client.ClientToolInfo"/>
	<bean name="SelectionMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="supportEditing" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="coverageRatio" />
					<property name="value" value="0.8" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="priorityToSelectedLayer" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="pixelTolerance" />
					<property name="value" value="7" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="MarkedEditMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="useMarkings" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="useSnapHelp" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="allowHoles" />
					<property name="value" value="false" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="EditMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="useMarkings" />
					<property name="value" value="false" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="useSnapHelp" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="allowHoles" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="allowSelfIntersection" />
					<property name="value" value="false" />
				</bean>
			</list>
		</property>
	</bean>
	<bean name="SplitPolygonMode" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="MergePolygonMode" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="NavigateMode" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<!-- LayerTree tools -->

	<bean name="LayerVisibleTool" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="LayerSnappingTool" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="LayerLabeledTool" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="ShowTableAction" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="LayerRefreshAction" class="org.geomajas.configuration.client.ClientToolInfo"/>

	<bean name="MouseInfoMode" class="org.geomajas.configuration.client.ClientToolInfo">
		<property name="id" value="MouseInfoMode" />
		<property name="parameters">
			<list>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="showViewCoords" />
					<property name="value" value="false" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="showWorldCoords" />
					<property name="value" value="true" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="bottom" />
					<property name="value" value="50" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="left" />
					<property name="value" value="25" />
				</bean>
				<bean class="org.geomajas.configuration.Parameter">
					<property name="name" value="opacity" />
					<property name="value" value="0.75" />
				</bean>
			</list>
		</property>
	</bean>
	
</beans>
