/**
 *     This software project is called Geomajas, a component framework for building
 *     rich Internet applications (RIA) with sophisticated capabilities for the
 *     display, analysis and management of geographic information.
 *     It is a building block that allows developers to add maps
 *     and other geographic data capabilities to their web applications.
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     Copyright 2009 Geosparc, http://www.geosparc.com, Belgium
 *     This file is part of Geomajas.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
body {
	font-family: Arial, Verdana;
	font-size: 12px;
}

b {
	background: transparent;
}

ol {
	margin-top: 0px;
	margin-bottom: 0px;
}

li {
	margin-top: 2px;
	margin-bottom: 2px;
}

h1 {
	padding: 10px 10px 5px 10px;
	margin: 0px;
	color: #00B164;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	background: transparent;
}

h2 {
	padding: 10px 10px 5px 10px;
	margin: 0px;
	color: #00B164;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	background: transparent;
}

h3 {
	padding: 5px 10px;
	margin: 0px;
	color: #00B164;
	font-family: Arial;
	font-weight: bold; 
	font-size: 13px;
	background: transparent;
}
p {
	padding: 10px 10px 0px 10px;
	margin: 0px;
}

a:link {
	color: #00B164;
	background: none;
	text-decoration: none;
	text-transform: none;
}

a:visited {
	color: #00B164;
	background: none;
	text-decoration: none;
	text-transform: none;
}

a:hover {
	color: #00B164;
	background: none;
	text-decoration: underline;
	text-transform: none;
}

.pagetitle {
	background:#C0C0C0 url("../images/lightgreyBar.png") repeat-x top left;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #A0A0A0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #A0A0A0;
}
.pagetitleTxt {
	background: url("../images/majas-favicon.jpg") 10px 0px no-repeat;
	font-weight: bold;
	padding-left: 35px;
	margin-top: 6px;
}

.title {
	background:#C0C0C0 url("../images/blueBar.png") repeat-x top left;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #A0A0A0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #A0A0A0;
}
.titleTxt {
	font-weight: bold;
	padding-left: 10px;
	padding-top: 3px;
}

.greenTitle {
	background:#C0C0C0 url("../images/greenBar.png") repeat-x top left;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #A0A0A0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #A0A0A0;
}
.greenTitleTxt {
	font-weight: bold;
	padding-left: 10px;
	padding-top: 3px;
	color: #CCDD99;
}

.sampleBorder {
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #A0A0A0;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #A0A0A0;
	padding: 2px;
}

.contentOuter {
	background:#F0F0F0 url("images/contentBG2.png") repeat-x top left;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
}
.contentInner {
	background:#F0F0F0 url("images/contentBG1.png") repeat-x bottom left;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
}