#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<web-app
    version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Geomajas application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:${packageInPathFormat}/context/applicationContext.xml
            classpath:${packageInPathFormat}/context/app.xml
            classpath:${packageInPathFormat}/context/osmLayer.xml
			classpath:${packageInPathFormat}/context/countriesLayer.xml
  
        <!--
            classpath:${packageInPathFormat}/context/example/hibernate/applicationContext.xml
            classpath:${packageInPathFormat}/context/example/hibernate/layerRoads.xml
			classpath:${packageInPathFormat}/context/example/hibernate/layerOsm.xml
        -->
        
        <!--
            classpath:${packageInPathFormat}/context/example/geotools/applicationContext.xml
            classpath:${packageInPathFormat}/context/example/geotools/layerRoads.xml
			classpath:${packageInPathFormat}/context/example/geotools/layerOsm.xml
        -->
        </param-value>
    </context-param>

	<filter>
		<filter-name>JettyFilter</filter-name>
		<filter-class>org.geomajas.servlet.JettyThreadParentFilter</filter-class>
	</filter>
	<!-- enable when using back-end 1.8.0-SNAPSHOT or higher
	<filter>
	    <filter-name>CacheFilter</filter-name>
	    <filter-class>org.geomajas.servlet.CacheFilter</filter-class>
	</filter>
	-->

	<!--
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<servlet-name>GeomajasServiceServlet</servlet-name>
	</filter-mapping>
	-->

	<listener>
 		<listener-class>org.geomajas.servlet.PrepareScanningContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.geomajas.servlet.GeomajasContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<servlet-class>org.geomajas.gwt.server.GeomajasServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>Spring Web-MVC specific (additional) context files.</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/geomajasWebContext.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>GeomajasServiceServlet</servlet-name>
		<url-pattern>/${package}.Application/geomajasService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/d/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
