/****** Object:  Table [dbo].[road]    Script Date: 22/02/2013 15:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[road](
	[osm_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](48) NULL,
	[ref] [varchar](16) NULL,
	[type] [varchar](16) NULL,
	[oneway] [int] NULL,
	[bridge] [int] NULL,
	[maxspeed] [int] NULL,
	[geometry] [geometry] NULL,
 CONSTRAINT [pk_road2] PRIMARY KEY CLUSTERED 
(
	[osm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[road] ON 

INSERT [dbo].[road] ([osm_id], [name], [ref], [type], [oneway], [bridge], [maxspeed], [geometry]) VALUES (1, NULL, NULL, N'track', 0, 0, 0, 0xE610000001040300000017CEDA125E3715407570557EBE604940326601C92A3B15405F61C1FD806049405DE5643D103C15400A8508388460494001000000010000000001000000FFFFFFFF0000000002)
INSERT [dbo].[road] ([osm_id], [name], [ref], [type], [oneway], [bridge], [maxspeed], [geometry]) VALUES (2, NULL, N'N784', N'secondary', 0, 0, 0, 0xE610000001040400000017CEDA125E3715407570557EBE60494088AFC0A101361540D03989528C6049408DB7955E9B3515400D13B2987D6049402073AFDD87351540FD6B79E57A60494001000000010000000001000000FFFFFFFF0000000002)
INSERT [dbo].[road] ([osm_id], [name], [ref], [type], [oneway], [bridge], [maxspeed], [geometry]) VALUES (3, NULL, NULL, N'road', 0, 0, 0, 0xE610000001145DE5643D103C15400A85083884604940379F84E3433A15404EBE34A039604940)
GO
SET IDENTITY_INSERT [dbo].[road] OFF
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [road_s_index2]    Script Date: 22/02/2013 15:55:43 ******/
CREATE SPATIAL INDEX [road_s_index2] ON [dbo].[road]
(
	[geometry]
)USING  GEOMETRY_AUTO_GRID 
WITH (BOUNDING_BOX =(-180, -90, 180, 90), 
CELLS_PER_OBJECT = 8, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
