/*
 * This file is part of Geomajas, a component framework for building
 * rich Internet applications (RIA) with sophisticated capabilities for the
 * display, analysis and management of geographic information.
 * It is a building block that allows developers to add maps
 * and other geographic data capabilities to their web applications.
 *
 * Copyright 2008-2010 Geosparc, http://www.geosparc.com, Belgium
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/*****
		dijit.form.Button
		dijit.form.DropDownButton
		dijit.form.ComboButton
		dijit.form.ComboBox (partial)
 *****/

.deco .dijitButtonNode {
	/* enabled state - inner */
	/* border:1px outset #a0a0a0; */
	border:1px solid #c0c0c0;
	border-bottom:1px solid #9b9b9b;
	border-right:1px solid #9b9b9b;
	padding: 0.2em;
	background:#fff url("../images/buttonEnabled.png") repeat-x bottom left;
}
.dj_ie .deco .dijitButtonNode {
	zoom: 1;
}

.deco .dijitButtonText {
	padding: 0 0.3em;
}

.deco .dijitComboBox .dijitButtonNode {
	border: 0px;
}

.deco .dijitArrowButton {
	color: #111;
}

.deco .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}

.dj_ff2 .deco .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .deco .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}

.deco .dijitButtonDisabled .dijitButtonNode,
.deco .dijitToggleButtonDisabled .dijitButtonNode,
.deco .dijitDropDownButtonDisabled .dijitButtonNode,
.deco .dijitComboButtonDisabled .dijitButtonNode,
.deco .dijitComboBoxDisabled,
.deco .dijitSpinnerDisabled,
.deco .dijitSpinnerDisabled .dijitButtonNode {
	/* disabled state - inner */
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	/*color:#b4b4b4;*/
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; /* Safari, Opera and Mozilla */
}
.dj_ie .deco .dijitButtonDisabled .dijitButtonNode *,
.dj_ie .deco .dijitToggleButtonDisabled .dijitButtonNode *,
.dj_ie .deco .dijitDropDownButtonDisabled .dijitButtonNode *,
.dj_ie .deco .dijitComboButtonDisabled .dijitButtonNode *,
.dj_ie .deco .dijitSpinnerDisabled .dijitButtonNode * {
	filter: gray() alpha(opacity=50); /* IE */
}

.deco .dijitButtonHover .dijitButtonNode,
.deco .dijitToggleButtonHover .dijitButtonNode,
.deco .dijitDropDownButtonHover .dijitButtonNode,
.deco .dijitComboButtonHover .dijitButtonContents,
.deco .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.deco .dijitComboBoxHover .dijitDownArrowButton,
.deco .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.deco .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	/* hover state - inner */
	/* TODO: change from Hover to Selected so that button is still highlighted while drop down is being used */
	border-color:#a5beda;
	border-bottom-color:#5c7590;
	border-right-color:#5c7590;
	color:#000;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}

.deco .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.deco .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.deco .dijitButtonActive .dijitButtonNode,
.deco .dijitToggleButtonActive .dijitButtonNode,
.deco .dijitDropDownButtonActive .dijitButtonNode,
.deco .dijitComboButtonActive .dijitButtonContents,
.deco .dijitDownArrowActive .dijitDownArrowButton,
.deco .dijitComboBoxActive .dijitDownArrowButton {
	/* active state - inner (for when you are pressing a normal button, or
	 * when a toggle button is in a depressed state
	 */
	border-color:#366dba;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}



.deco .dijitArrowButtonInner {
	background:url("../images/arrowDown.png") no-repeat center center;
}
.deco .dijitUpArrowButton .dijitArrowButtonInner { background-image:url("../images/arrowUp.png"); }
.dj_ie6 .deco .dijitArrowButtonInner {
	background-image:url("../images/arrowDown.gif");
}
.dj_ie6 .deco .dijitUpArrowButton .dijitArrowButtonInner {
	background-image:url("../images/arrowUp.gif");
}
.deco .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url("../images/comboArrowDown.gif") no-repeat center center;
}
.deco .dijitComboBoxHover .dijitArrowButtonInner {
	/* TODO: url("../images/arrowDownHover.png") but in IE6 it flickers some? */
}