<configuration debug="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<!--
    <logger name="org.geomajas.gwt" level="DEBUG" />
    <logger name="org.geomajas.internal.service" level="DEBUG" />
    <logger name="org.geomajas.internal.layer.vector" level="DEBUG" />
    <logger name="org.geomajas.internal.rendering.strategy" level="DEBUG" />
	<logger name="org.geomajas.internal.layer.vector.GetFeaturesEachStep" level="DEBUG" />
	-->
	<!--
	<logger name="org.geomajas.plugin.caching" level="DEBUG" />
	<logger name="org.geomajas.internal.service" level="DEBUG" />
	<logger name="org.geomajas.internal.service.CommandDispatcherImpl" level="TRACE" />
	<logger name="org.geomajas.internal.layer.vector" level="DEBUG" />
	<logger name="org.geomajas.command" level="DEBUG" />
	-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
