.sgwtTitle {
    font-family: Arial,Verdana,tahoma,serif;
    color: #454545;
    font-size: 18px;
}


/*------------- ATTRIBUTE FORMS -------------*/

.featureForm .formTitle, .featureForm .formCell,
.featureForm .formTitleFocused, .featureForm .formCellFocused,
.featureForm .formTitleError, .featureForm .formCellError,
.featureForm .formTitleDisabled, .featureForm .formCellDisabled
{
	/* Style for the form TD's */
}
.featureForm .formTitleError, .featureForm .formCellError {
	/* Style title texts on the left side */
}
.featureForm .formTitleDisabled, .featureForm .formCellDisabled {
	/* Style for the disabled forms */
	color: #002040;
}

.featureForm .textItemDisabled, .featureForm .selectItemTextDisabled,
.featureForm .labelAnchorDisabled
{
	/* Style for the disabled forms */
	border: 0;
	padding-top: 4px;
	color: #000000;
}

.featureForm .formCellError div {
}

.featureForm table {
}

/*------------- SEARCH -------------*/

.searchHeader {
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
}

.searchRow {
	border-bottom: 1px solid lightgray;
	height: 32px;
	line-height: 32px;
}




/*------------- LOADING SCREEN -------------*/

.loadingScreenLabel {
	font-family: Arial,Verdana,tahoma,serif;
	font-weight: normal;
	font-size: 10px;
	color: #FFFFFF;
}